*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.pink{
    width: 100%;
    height: 10%;
}

a,a:hover {
    text-decoration: none;
}

ul{
    list-style: none;
}

.header{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(blackbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.header .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.header .navbar .logo{
    margin-left: 2%;
    margin-right: 4%;
}
.header .navbar .logo a{
    color: aqua;
}

.header .navbar .menu ul li {
    display: inline-block;
    margin-right: 40px;
    align-items: center;
}

.header .navbar .menu ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.header .contact-info {
    margin: 400px;
}

.header .contact-info ul{
    margin-left: 41px;
}

.header .contact-info ul li{
    display: inline-block;
}

.header .contact-info ul li a{
    color: #fff;
    font-size: 15px;
    transition: all 0.3s;
}

.header .contact-info ul li a:hover{
    color: #c328c3;
}

.header .contact-info ul li a.sep{
    margin: 0 28px;
    opacity: 0.3;
}